[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tqdm = ">=4.8.4"
click = ">=7.0"

[requires]
python_version = "3.7"

[scripts]
ledctrl = "python -m pyledctrl.__main__"
